*{
    padding: 0;
    margin: 0;
}

.container{
    /* background-color:green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0.5rem;

}

.box{
    border: 3px solid wheat;
    /* border-left:3px solid black; */
    height: 100px;
    width: 100px;
    margin-bottom: 1rem;
    
}


.rows{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:0.5rem;
}